<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Counsel Requests</title>
        <script type="text/javascript">
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            window.onload = function() {
                const userID = window.location.pathname.match(/[0-9][0-9]*/).map(parseInt)[0]
                const acceptCounselRequest = document.getElementById("acceptCounselRequest")
                const backendURL = {{.backendURL}}                
                acceptCounselRequest.onclick = function(e) {
                    e.preventDefault()
                    fetch(backendURL + "/counsel/"+userID, {
                        method: "POST",
                        headers: {
                            'session_key': getCookie('session_key')
                        }
                    })
                    .then(res => console.log(res.json()))
                    .catch(err => console.log(err))
                }
            }
        </script>
    </head>

    <body>
        <h1>Counsel Request</h1>
        <a href="/testing/counsel">Go Back</a>
        <div> UserID: {{ .counselRequest.UserID}} </div>
        <div> Details: {{ .counselRequest.Details }} </div>
        <div> Topics: {{ .counselRequest.Topics }} </div>
        <div> LastUpdated: {{ .counselRequest.LastUpdated }}</div>
        <button id="acceptCounselRequest">Accept</button>
    </body>
</html>