<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <script type="text/javascript">
            window.onload = function () {
                const loadLimit = 30
                const groupID = window.location.pathname.match(/[0-9][0-9]*/).map(parseInt)[0]
                const msg = document.getElementById("msg");
                const log = document.getElementById("log");
                const notif = document.getElementById("notif");
                var conn

                function appendLog(item) {
                    var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
                    log.appendChild(item);
                    if (doScroll) {
                        log.scrollTop = log.scrollHeight - log.clientHeight;
                    }
                }

                function prependLog(...items){
                    var curr = log.scrollHeight - log.scrollTop
                    log.prepend(...items);
                    log.scrollTop = log.scrollHeight - curr;
                }

                function makeMessageItem(loadedMessage) {
                    var item = document.createElement("div");
                    item.innerHTML = `${loadedMessage.sender.first_name}: ${loadedMessage.message.msg}`
                    return item
                }

                var notifTimeOut
                function newNotif(loadedMessage) {
                    clearTimeout(notifTimeOut)
                    var { sender, group } = loadedMessage
                    notif.innerHTML = `New message from ${sender.first_name} in ${group.group_ame}`
                    notif.style.display = "inherit"
                    notifTimeOut = setTimeout(() => notif.style.display="none", 5000)
                }
                
                document.getElementById("form").onsubmit = function () {
                    if (!conn) {
                        return false;
                    }
                    if (!msg.value) {
                        return false;
                    }
                    conn.send(msg.value);
                    msg.value = "";
                    return false;
                };

                var earliestTime = ""
                const loadInterval = setInterval(() => {
                    if (log.scrollTop == 0) {
                        const url = `${document.location.host}/message/${groupID}?latest=${earliestTime}&limit=${loadLimit}`;
                        fetch("http://" + url)
                        .then(res => res.json())
                        .then(data => {
                            console.log(data)
                            const { loaded_messages, earliest_time } = data
                            if (loaded_messages && loaded_messages.length == 0) {
                                clearInterval(loadInterval)
                                return
                            }
                            prependLog(...data.loaded_messages.map(makeMessageItem))
                            earliestTime = earliest_time
                        })
                        .catch(err => {console.log(err)})
                    }
                }, 100)

                if (window["WebSocket"]) {
                    conn = new WebSocket("ws://" + document.location.host + "/ws/" + groupID);
                    conn.onclose = function (evt) {
                        var item = document.createElement("div");
                        item.innerHTML = "<b>Connection closed.</b>";
                        appendLog(item);
                    };
                    conn.onmessage = function (evt) {
                        var loadedMessage = JSON.parse(evt.data)
                        console.log(loadedMessage)
                        if (loadedMessage.message.group_id === groupID) {
                            appendLog(makeMessageItem(loadedMessage))
                        } else {
                            newNotif(loadedMessage)
                        }
                    };
                } else {
                    var item = document.createElement("div");
                    item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
                    appendLog(item);
                }
            };
        </script>
        <style type="text/css">
            #log {
                border: 1px solid black;
                height: 30em;
                margin: 0;
                padding: 0.5em 0.5em 0.5em 0.5em;
                overflow-y: auto;
            }

            #form {
                padding: 0 0.5em 0 0.5em;
                margin: 0;
                width: 100%;
            }

            #notif {
                background-color: red;
                color: white;
                display: none;
            }
        </style>
    </head>

    <body>
        <a href="/testing/group">Go back to groups</a>
        <div id="notif"></div>
        <div id="log"></div>
        <form id="form">
            <input type="submit" value="Send" />
            <input type="text" id="msg" size="64" autofocus />
        </form>
        <h2> Group {{ .groupWithUsers.Group.ID }}</h2>
        <div>
            <div>GroupName: {{ .groupWithUsers.Group.GroupName }}</div>
            <div>GroupDescription: {{ .groupWithUsers.Group.GroupDescription }}</div>
            <div>Category: {{ .groupWithUsers.Group.Category}}</div>
            <div>OwnerID: {{ .groupWithUsers.Group.OwnerID }}</div>
        </div>
        <h2> Users : </h2>
        {{ range .groupWithUsers.Users }}
            <div>
                <div>ID: {{.ID}}</div>
                <div>FirstName: {{.FirstName}}</div>
                <div>LastName: {{.LastName}}</div>
                <div>Gender: {{.Gender}}</div>
                <div>Faculty: {{.Faculty}}</div>
                <div>Email: {{.Email}}</div>
                <div>UserRole: {{.UserRole}}</div>
                <div>PasswordHash: {{.PasswordHash}}</div>
            </div>
            <br>
        {{ end }}
    </body>
</html>